/*
* demo.css
* File include item demo only specific css only
******************************************************************************/

.light-style .menu .app-brand.demo {
  height: 64px;
}

.dark-style .menu .app-brand.demo {
  height: 64px;
}

.app-brand-logo.demo {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -ms-flexbox;
  display: flex;
  width: 34px;
  height: 24px;
}

.app-brand-logo.demo svg {
  width: 35px;
  height: 24px;
}

.app-brand-text.demo {
  font-size: 1.375rem;
}

/* ! For .layout-navbar-fixed added fix padding top tpo .layout-page */
.layout-navbar-fixed .layout-wrapper:not(.layout-without-menu) .layout-page {
  padding-top: 64px !important;
}
.layout-navbar-fixed .layout-wrapper:not(.layout-horizontal):not(.layout-without-menu) .layout-page {
  padding-top: 72px !important;
}
/* Navbar page z-index issue solution */
.content-wrapper .navbar {
  z-index: auto;
}

/*
* Content
******************************************************************************/

.demo-blocks > * {
  display: block !important;
}

.demo-inline-spacing > * {
  margin: 1rem 0.375rem 0 0 !important;
}

/* ? .demo-vertical-spacing class is used to have vertical margins between elements. To remove margin-top from the first-child, use .demo-only-element class with .demo-vertical-spacing class. For example, we have used this class in forms-input-groups.html file. */
.demo-vertical-spacing > * {
  margin-top: 1rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-lg > * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-lg.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.demo-vertical-spacing-xl > * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}
.demo-vertical-spacing-xl.demo-only-element > :first-child {
  margin-top: 0 !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir='rtl'] .rtl-only {
  display: block !important;
}

/* Dropdown buttons going out of small screens */
@media (max-width: 576px) {
  #dropdown-variation-demo .btn-group .text-truncate {
    width: 254px;
    position: relative;
  }
  #dropdown-variation-demo .btn-group .text-truncate::after {
    position: absolute;
    top: 45%;
    right: 0.65rem;
  }
}

/*
* Layout demo
******************************************************************************/

.layout-demo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 1rem;
}
.layout-demo-placeholder img {
  width: 900px;
}
.layout-demo-info {
  text-align: center;
  margin-top: 1rem;
}
.cust-form-control .flatpickr-input{
  display: none !important;
}



.pagination-box>ul>li>a:focus {
  outline: none !important
}


.pagination-box>ul>li>a>i {
  font-size: 25px;
  padding: 0px 11px;
}

.pagination-box>ul>li.current a {
  color: #000000 !important;
  border: 0 !important;
  border-radius: 5px;
  line-height: 31px;
  text-align: center;
  background: #2b75ff;
}

.pagination-box {
  padding: 23px 0;
}

.pagination-box>ul>li>a {
  color: #000 !important;
  background: #ffffff;
  border-radius: 7px;
  padding: 9px 14px 11px;
  margin: 0px 3px;
  border: 1px solid #7367f0;
}

.pagination-box>ul>li.active>a {
  color: #fff !important;
  background: #7367f0 !important;
  border-radius: 7px !important;
  padding: 11px 14px !important;
}

.pagination-box>ul>li>a:hover {
  color: #fff !important;
  background: #7367f0 !important;
  border-radius: 7px !important;
  padding: 11px 14px !important;
}

.sort-icons-position {
  position: relative !important;
  padding-right: 10px !important;
  padding-left: 4px;
  padding-top: 2px;
}

.actionBox{
  display: flex;
  justify-content: start;
  gap: 10px;
  width: min-content;
}
/* React select*/

.css-t3ipsp-control,
.css-1nmdiq5-menu {  
  border-color: #00000000 !important;
}

.css-t3ipsp-control {
  box-shadow: 0 0 0 1px #56596f !important;
  border: var(--bs-border-width) solid #56596f !important;
} 
.css-13cymwt-control{
  border: var(--bs-border-width) solid #56596f !important;
}
.css-t3ipsp-control:focus-within {
  box-shadow: none !important;
   border: solid 2px #7367f0 !important;
}
.css-tr4s17-option { 
  background-color: #00000000; 
}
.css-qr46ko{
  background: #2f3349 !important;
}

.css-d7l1ni-option { 
  background-color: #7367f059 !important; 
}
.css-1dimb5e-singleValue,
.css-19bb58m, 
.css-t3ipsp-control,
.css-13cymwt-control{
  color:#cfcde4 !important;
  background-color: #00000000 !important;
}
.css-13cymwt-control:hover{
  border-color:#9a9ab0 !important; 
} 

 .upload-image{
  width: 40% !important;
 }

 .modalForm{
  gap:10px !important;
 }
 .packageImage img{
  width: 45px;
  height: 45px;
 }

 /* loader */
 .sr-only{
  color: #7fffd400;
 }
 .spinner-border{
  margin-right: 3px;
 }
 .btn{
  text-wrap: nowrap !important;
 }
 .buttonsGroup{
  display: flex;
  justify-content: center;
  gap: 10px;
 }
 .pass-valid{
  font-size: 12px;
  letter-spacing: 1px;
 }
 .validPassText {
  font-family: fangsong !important;
}

.validationBox {
  flex-wrap: wrap !important;
}
.password-validation-span {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  font-size: 13px;
}
@media screen and (max-width: 375px) {
  .password-validation-span { 
    grid-template-columns: 1fr;  
  }
}




.twofaSection .switchery {
  border: solid #7367f0 1px !important;
  background-color: #7367f0 !important;
  box-shadow: #e7f8fd0a 0px 0px 0px 16px inset !important;
  transition: border 0.4s, box-shadow 0.4s, background-color 1.2s;
  border-radius: 20px;
  height: 22px;
  width: 40px;
  border: none;
  background-color: #E7F8FD50;
  cursor: pointer;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: content-box;
  background-clip: content-box;
}

.twofaSection .switchery>small {
  background: #fff !important;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4) !important;
  position: absolute;
  top: 3px;
  left: 20px;
  transition: background-color 0.4s, left 0.2s;
  background-color: rgb(255, 255, 255) !important;
  height: 16px;
  width: 16px;
}


.twofaSection .togggleOff .switchery {
  border: solid #7367f0 1px !important;
  background-color: rgb(255, 255, 255) !important;
  box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset !important;
  transition: border 0.4s, box-shadow 0.4s !important;
}

.twofaSection .togggleOff .switchery>small {
  background-color: #7367f0 !important;
  left: 4px !important;
  transition: background-color 0.4s, left 0.2s !important;
}
.twoFaStatusOff {
  color: red;
}

.twoFaStatus {
  position: absolute;
  right: 14px;
  top: 10px;
  font-size: 14px;
}
.twofaSection{
  position: relative;
  top: 10px;
}
.configuration-card-body{
  padding: 45px !important;
}
.configuration-card-body p{
  text-wrap: wrap !important;
}

.twoFaStatusOnBlink {
  color: #faebd700 !important;
  animation: blink 1s linear infinite;
  border-radius: 50%;
  width: 14px;
}

@keyframes blink {

  0%,
  100% {
    background-color: #00b500;
  }

  50% {
    background-color: #ffffff00;
  }
}
